.react-calendar {
  position: absolute; /* 부모 요소(InputDate) 내부에서 위치를 절대적으로 설정 */
  top: 0; /* InputDate 내부의 최상단에 위치 */
  left: 0; /* InputDate 내부의 최좌측에 위치 */
  width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #e0e0e0;
}

.react-calendar__navigation {
  display: flex;
  height: 1.5rem; /* 네비게이션 바의 높이를 상대적으로 설정 */
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__weekdays {
  padding: 0.5em;
  font-size: 0.6rem; /* 요일의 글자 크기를 부모에 맞게 조정 */
}

.react-calendar__month-view__days__day {
  height: auto; /* 각 날짜 셀의 높이 설정 */
  font-size: 0.3rem; /* 날짜 글자 크기 설정 */
}

.react-calendar__tile {
  padding: 0.5rem; /* 셀의 내부 여백을 상대적으로 조정 */
  background: none;
  text-align: center;
  line-height: 1rem;
  font-size: 0.6rem;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
    color: #757575;
}


.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
}

.react-calendar__tile--now {
    background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
}

.react-calendar__tile--hasActive {
    background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
}

.react-calendar__tile--active {
    background: #006edc;
    color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
} 
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}