.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  top: auto;
  bottom: 10px; /* 페이지네이션을 아래로 이동 */
  left: 50%;
  transform: translateX(-50%); /* 가로 중앙으로 이동 */
  display: flex;
  flex-direction: row; /* 가로 방향으로 설정 */
  justify-content: center; /* 가운데 정렬 */
}

.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px; /* 페이지네이션 버튼 사이 간격 설정 */
  display: inline-block; /* 가로로 나열되도록 설정 */
}
.swiper-pagination.swiper-pagination-horizontal {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
  
  .swiper-pagination-bullet {
    margin: 0 4px;
  }
  